.App {
    text-align: center;
}

a {
    margin: 5% 0 1%;
    width: 60%;
    padding: 1rem;
    width: 70%;
    color: purple;
    background-color: peachpuff;
    font-weight: bolder;
    text-decoration: none;
}
